/* Utils */
@import 'utils/variables';
@import 'utils/fonts';
@import 'utils/mixins';

/* Layouts */
@import 'layouts/header';
@import 'layouts/footer';

/* Components */
@import 'components/button';
@import 'components/lightbox';
@import 'components/loader';
@import 'components/photo/thumbnail';
@import 'components/photo/preview';

/* Pages */
@import 'pages/photoViewer';

body {
    margin: 0;
    background-color: $foto-white;
    @include source-sans-pro();

    h1 {
        @include source-sans-pro(200);
    }

    h5 {
        margin-top: 0;
        @include source-sans-pro(300);
    }
}

.container {
    padding: 20px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.left {
    float: left;
}

.right {
    float: right;
}