/* Color Palette */
$foto-red: #FF7F66;
$foto-blue: #2186C4;
$foto-ice: #7ECEFC;
$foto-white: #FFF6E5;
$foto-black: #3F464C;

/* Fixed Settings */
$nav-height: 50px;
$phone-width: 30em;
$lightbox-container-width: 800px;

/* Font sizing */
$unit: 1em;
$font-default: $unit;
$font-xlarge: $font-default * 2;
$font-large: $font-default * 1.25;
$font-small: $font-default * 0.85;
$font-xsmall: $font-default * 0.8;