/* Utils */
/* Color Palette */
/* Fixed Settings */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600);
/* Font mixins*/
/* Layouts */
.nav-bar {
  width: 100%;
  background-color: #2186C4;
  height: 50px;
  color: white;
  font-size: 22px;
  box-shadow: 0 0 5px #3F464C;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200; }
  .nav-bar .container {
    padding-top: 0;
    padding-bottom: 0; }
  .nav-bar .brand {
    max-height: 50px;
    height: 100%; }
    .nav-bar .brand img {
      padding: 5px 5px 5px 0;
      height: 40px;
      vertical-align: middle; }
    .nav-bar .brand a {
      text-decoration: none;
      color: white; }

footer {
  text-align: center;
  padding-top: 20px; }
  footer a {
    color: gray; }

/* Components */
.btn {
  font-size: 14px;
  padding: 10px 14px;
  border: 1px solid #3F464C;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background: rgba(255, 246, 229, 0.8);
  color: #3F464C;
  cursor: pointer; }
  .btn:hover {
    background: #fff6e5; }
  .btn.btn-call-to-action {
    padding: 10px 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background: rgba(255, 127, 102, 0.8);
    color: #FFF6E5;
    cursor: pointer; }
    .btn.btn-call-to-action:hover {
      background: #ff7f66; }

.close-button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  border: none;
  background: none;
  color: #FFF6E5;
  cursor: pointer;
  padding: 0;
  padding: 5px 10px;
  font-size: 28px; }

.lightbox {
  position: fixed;
  z-index: 1000;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(63, 70, 76, 0.98);
  top: 0;
  left: 0;
  color: #FFF6E5;
  overflow-y: auto; }
  .lightbox .container {
    max-width: 800px;
    margin: auto;
    padding: 2% 5%; }
  .lightbox .close-button {
    margin-right: 5px; }
  .lightbox .navigation-container {
    margin-top: 20px; }
    .lightbox .navigation-container:after {
      content: "";
      display: block;
      clear: both; }
    .lightbox .navigation-container .btn {
      margin-left: 5px; }

.loader {
  text-align: center; }

.thumbnail {
  position: relative;
  display: inline-block;
  padding: 10px;
  vertical-align: middle; }
  .thumbnail img {
    box-shadow: 0 0 3px #3F464C;
    opacity: .8; }
    .thumbnail img:hover {
      box-shadow: 0 0 8px #3F464C;
      opacity: 1; }

.photo-preview img {
  width: 100%; }

/* Pages */
.photo-viewer {
  text-align: center; }

body {
  margin: 0;
  background-color: #FFF6E5;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400; }
  body h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200; }
  body h5 {
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300; }

.container {
  padding: 20px; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.left {
  float: left; }

.right {
  float: right; }

/*# sourceMappingURL=styles.css.map */
