.btn {
    font-size: $font-small;
    padding: 10px 14px;
    border: 1px solid $foto-black;
    @include button($foto-white, $foto-black);

    &.btn-call-to-action {
        padding: 10px 25px;
        @include button($foto-red, $foto-white);
    }
}

.close-button {
    @include icon-button();
    padding: 5px 10px;
    font-size: $font-xlarge;
}