.nav-bar {
    width: 100%;
    background-color: $foto-blue;
    height: $nav-height;
    color: white;
    font-size: $font-large;
    @include shadow();
    @include source-sans-pro(200);

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .brand {
        max-height: 50px;
        height: 100%;

        img {
            padding: 5px 5px 5px 0;
            height: 40px;
            vertical-align: middle;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}